
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.card{
    width: 18rem
    
}
.print{
    
    text-align: start;
}
li{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    background-color: red;
    opacity: 0.8;
    border-radius: 50%;
    color: black;
    text-align: right;
    
}